@model List<PersonsModel>
@{
    ViewData["Title"] = "Persons";
}

<form asp-controller="Person" asp-action="FindById" method="get">
    <div class="row p-2">
        <div class="col-md-1">Id</div>
        <div class="col-md-4">
            <input required name="id" class="form-control" type="text" />
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">Find by ID</button>
        </div>
    </div>
</form>

<form asp-controller="Person" asp-action="FindByFio" method="get">
    <div class="row p-2">
        <div class="col-md-1">FIO</div>
        <div class="col-md-4">
            <input required name="fio" class="form-control" type="text" />
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">Find by FIO</button>
        </div>
    </div>
</form>

<div class="row p-2">
    <div class="btn-group">
        <a href="~/Person/Create" class="btn btn-primary">Create</a>
    </div>
</div>
<div class="row d-block">


    <style>
        th, td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var person in Model)
            {
                <tr>

                    <td>
                        @person.Id
                    </td>
                    <td>
                        @person.LastName
                    </td>
                    <td>
                        @person.FirstName
                    </td>
                    <td>
                        @person.MiddleName
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
